<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Streaming Test</title>
</head>
<body>
<h1>Music Streaming Test</h1>
<div>
    <label for="trackId">Enter Track ID:</label>
    <input type="text" id="trackId" name="trackId">
    <button onclick="streamTrack()">Stream Track</button>
</div>
<div id="player">
    <audio controls id="audioPlayer">
        Your browser does not support the audio element.
    </audio>
</div>

<script>
    function streamTrack() {
        var trackId = document.getElementById("trackId").value;
        var audioPlayer = document.getElementById("audioPlayer");
        var url = "http://localhost:8080/api/v1/music/stream/" + trackId;

        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.blob();
            })
            .then(blob => {
                var objectURL = URL.createObjectURL(blob);
                audioPlayer.src = objectURL;
                audioPlayer.play();
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }
</script>
</body>
</html>